{% extends "layouts/base.html.twig" %}

{% block content %}

      <div class="row"> 
        <div class="col-lg-4 p-1 m-1"> 
          <h5 class="jersey-10-regular">[ n3Dev ] ⇢ microblog</h5>
        </div>
        <div class="col-lg-5 p-1 m-1"> 
          <h5 class="jersey-10-regular">[ n3Dev ] ⇢ blog</h5>
        </div>
      </div>  

{% endblock %}