{% extends "layouts/base.html.twig" %}

{% block content %}
<div class="row"> 
          <div class="col-lg-4 p-1 m-1"> 
            <h6>[ <span class="text-secondary">n3Dev</span> ] ⇢ <span class="text-secondary">Pathway</span></h6>
            <p> 
              
            </p>
          </div>
          <div class="col-lg-5 p-1 m-1"> 
            <h6>[ <span class="text-secondary">n3Dev</span> ] ⇢ <span class="text-secondary">Pathway</span></h6>
          </div>
        </div>  
{% endblock %}