{% extends "layouts/base.html.twig" %}

{% block content %}
<div class="row"> 
          <div class="col-lg-4 p-1 m-1"> 
            <h6>[ <span class="text-secondary">n3Dev</span> ] ⇢ <span class="text-secondary">/whois nullStat3</span> : info</h6>
            <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    The current link item
  </a>
  <a href="#" class="list-group-item list-group-item-action">A second link item</a>
  <a href="#" class="list-group-item list-group-item-action">A third link item</a>
  <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
  <a href="#" class="list-group-item list-group-item-action disabled" aria-disabled="true">A disabled link item</a>
</div>
          </div>
          <div class="col-lg-5 p-1 m-1"> 
            <h6>[ <span class="text-secondary">n3Dev</span> ] ⇢ <span class="text-secondary">/whois nullStat3</span> : output</h6>
          </div>
        </div>  
{% endblock %}